.auctionList {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}
.auctionListItemCard {
  border: 3px solid black;
  background-color: #fddc5c;
}

.auctionItemDetails {
  display: flex;
  flex-direction: column;
  justify-items: start;
  padding: 5px;
}
.productBtn {
  float: right;
  padding: 1rem;
  border-radius: 5%;
  border-right: none;
  border-bottom: none;
}
.productBtn:hover {
  background-color: #ebebe9;
  cursor: pointer;
}
.product-image {
  width: 10rem;
}

